
body {
  margin: 0px;
  padding: 0px;
  background: #aaa;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
  color: #333333;
}

div {
  margin: 0px;
  background-position: center;
  background-repeat: none;
}

.subtitle {
  border-top: 1px solid black;
  text-align:right;
  font-size:11px;
  padding-top:3px;
}

h1 {
  font-size: 125%;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  color: #DD8822;
}

.nav {
  background-color:#ddd;
  margin:10px 0px;
  height:40px;
}

.nav a {
  float:left;
  margin:5px;
  padding:5px 10px
  display:block;
  color:black;
  text-decoration: none;
  margin:5px;
  padding:5px 10px
}

.nav a:hover {
  background-color: #dd8822;
  color:white;
}

.nav .selected {
  background-color: #dd8822;
  color:white;
}

pre {
  background: white;
  color: #333;
  padding: 15px;
  border: 1px solid #666666;
}

p {
	line-height: 150%;
}

.content {
  background-color:white;
  margin:10px auto;
  padding:400px 60px 25px;
  width:640px;
  -moz-box-shadow:0px 0px 10px 0 black;
  -webkit-box-shadow:0px 0px 10px 0 black;
  position:relative;
}

.babel_image {
  background-image: url("images/tower.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 10px;
  left: 0;
  margin: 10px;
  padding-top: 380px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 251px;
}

.title_window {
  height: 395px;
  left: 262px;
  margin: 14px 0 0 30px;
  position: absolute;
  top: 0;
  width: 435px;
}

.title_window .title {
  font-size: 50px;
  margin: 0px;
  text-align: right;
}

li {
  position:relative;
  list-style-type: none;
  padding-bottom: 15px;
}

li .description {
  padding-left:200px;
}

ul {
  padding-left:20px;
}

li .example{
  clear: both;
  position: absolute;
  left: 0px;
  top: 6px;
}

.bullets li {
  list-style-type: circle;
}

pre code {color: #444;}
comment {color: #FA4;font-weight:bold;}
symbol {color: #0af;font-weight:bold;}
number {color: #000;font-weight:bold;}
keyword {color: #a0a;font-weight:bold;}
string {color: #0a0;}
regex {color: #aa0;}
